.menu, .rules {
    display: flex;
    flex-direction: column;
    background: #0000003b;
    width: calc(100vw - 20px);
    height: calc(100vh - 20px - var(--bottom-inset));
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
}

.rules {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, 0.4);
}

.rules img {
    max-height: calc(100% - 80px);
    max-width: calc(100% - 40px);
}

.menu-button {
    width: min(400px, calc(100vw - 60px));
    height: 100px;
    margin-bottom: 20px;
    border-radius: 20px;
    background: #0000004f;
    color: white;
    font-size: min(30px, 7vw);
    z-index: 1;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.main-container {
    margin: 50px auto 0 auto;
    font-family: PTMono, monospace;
    color: white;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 4px;
}

.left-width {
    width: 200px;
}

.score {
    letter-spacing: -1px;
    font-weight: 100;
}

.word {
    
}

.word-top {
    display: flex;
    border-bottom: 2px solid white;
    width: fit-content;
    margin-bottom: 10px;
}

.words-said {
    
}

.word-line {
    display: flex;
    align-items: flex-end;
}

.word-said {
    display: flex;
}

.counts {
    font-weight: 100;
    display: flex;
}

.counts > span {
    color: #ffffff70;
}

.green {
    color: lawngreen!important;
}

.rules-button {
    z-index: 2;
    position: fixed;
    top: 20px;
    right: 20px;
    border-radius: 8px;
    background: #0000004f;
    color: white;
    padding: 0 20px;
    font-size: 18px;
    height: 40px;
}

@media (max-width: 767px) {
    .main-container {
        font-size: 23px;
    }
    
    .left-width {
        width: 150px;
    }
    
    .rules-button {
        padding: 0 13px;
        font-size: 14px;
        height: 33px;
        top: 20px;
        left: 20px;
        right: unset!important;
    }
    
    .move-button {
        top: 7px;
        left: 7px;
    }
}

@media (min-width: 1281px) {
    .main-container {
        font-size: 50px;
    }

    .left-width {
        width: 320px;
    }
    
    .rules-button {
        transform: scale(1.5);
        transform-origin: right top;
    }
    
    .menu-button {
        font-size: 40px;
        width: 520px;
        height: 120px;
        margin-bottom: 25px;
    }
}